.card-container{
    overflow-y: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-container{
    margin-bottom: -10px !important; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.resident-list-group{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.container{
    max-height: 94vh;
}

.card-image{
    max-height: 40vh;
}